.form
{ height:100px;
  width:1400px;
  background-color:red;
  color:blue;
  font-size:80px;
  
	
}
.formA
{
height:130px;
width:1400px;
background-color:blue;	
	
}
.formB
{height:550px;
 width:1400px;
 background-color:pink;
}

.formC
{
 height:400px;
 width:1400px;
background-color:yellow; 
border-color:black;
margin:0;
}